@model crazycola.Models.AlmacenProducto

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div class="table-responsive">
    <table class="table table-bordered">
        <tbody>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Stock)</th>
                <td>@Html.DisplayFor(model => model.Stock)</td>
            </tr>
            <tr>
                <th>Almacen</th>
                <td>@Html.DisplayFor(model => model.Almacen.Nombre)</td>
            </tr>
            <tr>
                <th>Producto</th>
                <td>@Html.DisplayFor(model => model.Producto.Nombre)</td>
            </tr>
        </tbody>
    </table>
</div>

<p>
    <a href="@Url.Action("Edit", new { id = Model.AlmacenProductoId })" class="btn btn-primary">
        <i class="fas fa-edit"></i> Edit
    </a>
    <a href="@Url.Action("Index")" class="btn btn-default">
        <i class="fas fa-arrow-left"></i> Back to List
    </a>
</p>
