@model IEnumerable<crazycola.Models.AlmacenProducto>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
 @if (@Session["UAdmin"].Equals( "True"))
 {
     <p>
         <a href="@Url.Action("Create")" class="btn btn-primary">
             <i class="fas fa-plus"></i> Create New
         </a>
     </p>
 }

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Stock)
        </th>
        <th>
            Almacen
        </th>
        <th>
            Producto
        </th>
        <th>Actions</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Stock)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Almacen.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Producto.Nombre)
            </td>
            <td>
                 @if (@Session["UAdmin"].Equals( "True"))
                 {
                     <a href="@Url.Action("Edit", new { id = item.AlmacenProductoId })" class="btn btn-primary">
                         <i class="fas fa-edit"></i> Edit
                     </a>
                 }
                 <a href="@Url.Action("Details", new { id = item.AlmacenProductoId })" class="btn btn-info">
                     <i class="fas fa-info-circle"></i> Details
                 </a>
                  @if (@Session["UAdmin"].Equals( "True"))
                  {
                      <a href="@Url.Action("Delete", new { id = item.AlmacenProductoId })" class="btn btn-danger">
                          <i class="fas fa-trash-alt"></i> Delete
                      </a>
                  }
            </td>
        </tr>
    }

</table>
