@model crazycola.Models.Usuario

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-5">
    <h2 class="text-center"><i class="fas fa-trash"></i> Delete</h2>

    <div class="alert alert-danger mt-4" role="alert">
        Are you sure you want to delete this?
    </div>

    <div class="card mt-4">
        <div class="card-header">
            <h4 class="mb-0">User Details</h4>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <strong>@Html.DisplayNameFor(model => model.Nombre):</strong>
                @Html.DisplayFor(model => model.Nombre)
            </li>
            <li class="list-group-item">
                <strong>@Html.DisplayNameFor(model => model.Apellido):</strong>
                @Html.DisplayFor(model => model.Apellido)
            </li>
            <li class="list-group-item">
                <strong>@Html.DisplayNameFor(model => model.Email):</strong>
                @Html.DisplayFor(model => model.Email)
            </li>
            <li class="list-group-item">
                <strong>Contraseña:</strong>
                @Html.DisplayFor(model => model.Contrasenia)
            </li>
            <li class="list-group-item">
                <strong>Usuario administrador:</strong>
                @Html.DisplayFor(model => model.IsAdmin)
            </li>
            <li class="list-group-item">
                <strong>Almacen:</strong>
                @Html.DisplayFor(model => model.Almacen.Nombre)
            </li>
        </ul>
    </div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="mt-4">
            <button type="submit" class="btn btn-danger"><i class="fas fa-trash"></i> Delete</button>
            <a href="@Url.Action("Index")" class="btn btn-secondary">
                <i class="fas fa-arrow-left"></i> Back to List
            </a>
        </div>
    }
</div>

