@model crazycola.Models.Usuario

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="container my-5">
        <div class="row">
            <div class="col-md-12">
                <h4>Usuario</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.UsuarioId)

                <div class="form-group row">
                    @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "col-md-2 col-form-label" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group row">
                    @Html.LabelFor(model => model.Apellido, htmlAttributes: new { @class = "col-md-2 col-form-label" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Apellido, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Apellido, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group row">
                    @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "col-md-2 col-form-label" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group row">
                    @Html.LabelFor(model => model.Contrasenia, htmlAttributes: new { @class = "col-md-2 col-form-label" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Contrasenia, new { htmlAttributes = new { @class = "form-control", type = "password" } })
                        @Html.ValidationMessageFor(model => model.Contrasenia, "", new { @class = "text-danger" })
                    </div>
                </div>

                @if (Session["UAdmin"].Equals("True"))
                {
                    <div class="form-group row">
                        @Html.LabelFor(model => model.IsAdmin, htmlAttributes: new { @class = "col-md-2 col-form-label" })
                        <div class="col-md-10">
                            <div class="form-check">
                                <label class="form-check-label">
                                    @Html.EditorFor(model => model.IsAdmin, new { htmlAttributes = new { @class = "form-check-input" } })
                                    @Html.ValidationMessageFor(model => model.IsAdmin, "", new { @class = "text-danger" })
                                    Is Admin
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        @Html.LabelFor(model => model.AlmacenId, "AlmacenId", htmlAttributes: new { @class = "col-md-2 col-form-label" })
                        <div class="col-md-10">
                            @Html.DropDownList("AlmacenId", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.AlmacenId, "", new { @class = "text-danger" })
                        </div>
                    </div>
                }

                    <div class="form-group row">
                        <div class="col-md-offset-2 col-md-10">
                            <button type="submit" class="btn btn-primary">
                                <i class="fas fa-save"></i> Save
                            </button>
                        </div>
                    </div>
                    </div>
        </div>
    </div>
}

<div>
   <a href="@Url.Action("Index")" class="btn btn-default">
           <i class="fas fa-arrow-left"></i> Back to List
       </a>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
